{% extends "layout.html" %}

{% block title %}
Edit
{% endblock %}

{% block main %}

    <div class = "container-quote" style ="background-color: #B3C890">

        <form action="/edit" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <input class="quote form-control" style="background-color: #DBDFAA" autocomplete="off" autofocus type="text" placeholder="Quote" name="quote_changed" value="{{quote}}">
            <button type="submit" class="button btn btn-outline-primary" style ="background-color: #DBDFAA" >Save</button>
        </form>
    </div>


{% endblock %}