{% extends "layout.html" %}
{% block title %}
Register
{% endblock %}

{% block main %}
        <div class="container-quote">
        <form action = "/forget" method = "post">
            <input type="email" class="form-control mx-auto  w-auto mt-22" autocomplete placeholder = "Email" autocomplete= "off"  name="email"><br />

            <div class = "submit1">
                <button type="submit" class=" submit1 btn btn-outline-primary mt-1">Reset</button>
            </div>
        </form>
    </div>

{% endblock %}